body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.top_blank_5{
    padding-top: 5px;
}

.goexw_cat_label-tags {
    background-color: #eee;
    color:#000;
    font-size: 100%;
    font-weight: normal;
    margin: 2px;
}
.goexw_cat_label {
    border-radius: 0.25em;
    color: #000000;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: central;
    white-space: nowrap;
    
}
.goexw_cat_fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.goexw_cat_fa-trash-o:before {
    content: "x";
}