<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://seller-haierb2bdemo.chinacloudsites.cn</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>seller-haierb2bdemo.scm.chinacloudsites.cn:443</MSDeployServiceURL>
    <DeployIisAppPath>Seller-HaierB2BDemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Seller-HaierB2BDemo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LogDB" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Exiao.Demo.DataAccess.TraceLogDbContext, Exiao.Demo.MvcWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ExiaoDB" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Exiao.Demo.DataAccess.ExiaoDbContext, Exiao.Demo.MvcWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CatalogDB" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Exiao.Demo.DataAccess.CatalogDbContext, Exiao.Demo.MvcWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IspDB" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Exiao.Demo.DataAccess.IspDbContext, Exiao.Demo.MvcWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FspDB" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Exiao.Demo.DataAccess.FspDbContext, Exiao.Demo.MvcWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CatalogDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ExiaoDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FspDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IspDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LogDB-Web.config Connection String" />
  </ItemGroup>
</Project>