@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - @CultureHelper.GetViewText("ExiaoTitle")</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        @RenderBody()
    </hgroup>
</body>
</html>
