<div class="row">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Power Transmission</a></li>
        <li><a href="#">Gears</a></li>
        <li class="active">Spur Gears</li>
    </ol>
</div>

<div class="row">
    <div class="col-md-5" style="background: greenyellow; min-height: 400px">
        Picture Here!
    </div>

    <div class="col-md-4" style="background: palegoldenrod; min-height: 400px">
        Detail information
    </div>

    <div class="col-md-3" style="background: powderblue; min-height: 400px">
        Service List
    </div>
</div>
<div class="row">
    <div role="tabpanel">
        <!-- nav bars-->
        <ul id="tabs" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">
                    Product Detail
                </a>
            </li>
            <li role="presentation">
                <a href="#other" aria-controls="other" role="tab" data-toggle="tab">
                    Other information
                </a>
            </li>
        </ul>

        <!-- tab content -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="detail">
                detail information here
            </div>
            <div role="tabpanel" class="tab-pane fade" id="other">
                other information here
            </div>
        </div>
    </div>

</div>