<style>
    :focus {
        outline: 0;
    }

    .simpleCart_items {
        float: left;
        clear: left;
        width: 446px;
        margin: 20px;
    }

    #content {
        background: url(images/bg_content.png);
        width: 440px;
        margin: 10px auto 5px auto;
    }

    body {
        line-height: 1;
    }

    body {
        background: url(images/bg.jpg);
        font: bold 12px Helvetica, Arial, sans-serif;
    }

    .itemContainer {
        clear: both;
        width: 543px;
        padding: 15px 0;
        font-size: 11px;
        line-height: 25px;
        height: 10px;
    }

    .totalRow {
        clear: both;
        float: left;
        margin-top: 10px;
    }

    .totalItems {
        float: left;
        width: 105px;
        margin-left: 295px;
        text-align: center;
    }

    .totalPrice {
        float: right;
        text-align: right;
    }

    .itemImage {
        float: left;
        width: 80px;
    }

    .itemName {
        float: left;
        width: 100px;
    }

    .itemPrice {
        float: left;
        width: 55px;
        color: #418932;
    }

    .itemQuantity {
        float: left;
        width: 105px;
        vertical-align: middle;
        text-align: center;
    }

    .itemTotal {
        float: left;
        color: #c23f26;
        text-align: right;
        width: 45px;
    }

    .itemQuantity input {
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        margin: 0 auto;
        display: block;
        font-size: 11px;
        line-height: normal;
    }

    .itemImage img {
        vertical-align: middle;
    }

    .cartHeaders div {
        color: #333;
    }
</style>

<script type="text/javascript">
    function shoppingCartCheckOut() {
        var custPrice = $('#custPrice').val();
        var cartModel = {};
        cartModel.CustPrice = custPrice;
        cartModel.Lines = new Array();
        for (var i in simpleCart.items) {
            var item = simpleCart.items[i];
            var line = {};
            line.Id = item.sku;
            line.Price = item.price;
            line.Quantity = item.quantity;
            cartModel.Lines.push(line);
        }

        $('#commitOrder').val(JSON.stringify(cartModel));
        simpleCart.empty();
        $("#postForm").submit();
    }
</script>

<div id="content">
    <div id="left">
        <div>
            <div class="simpleCart_items">
                <div class="cartHeaders">
                    <div class="itemImage">Image</div>
                    <div class="itemName">Name</div>
                    <div class="itemPrice">Price</div>
                    <div class="itemQuantity">Quantity</div>
                    <div class="itemTotal">Total</div>
                </div>
                <div class="itemContainer">
                    <div class="itemImage"><img src="images/thumbs/blackGold.jpg"></div>
                    <div class="itemName">Black Gold</div>
                    <div class="itemPrice">$58.00</div>
                    <div class="itemOptions"></div>
                    <div class="itemQuantity"><input onblur="simpleCart.updateQuantity('name=Black Gold','price=58','image=images/thumbs/blackGold.jpg','quantity='+this.value);return false;" type="text" value="4"></div>
                    <div class="itemTotal">$232.00</div>
                </div>
            </div>
            <div class="totalRow">
                <div class="totalItems"></div>
                <div class="totalPrice"></div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div style="margin-bottom: 15px; margin-left: 20px; vertical-align:middle;">
        <!--Here's the Links to Checkout and Empty Cart-->
        <span style="text-align: right; vertical-align: middle;">My Price</span>
        <span><input id="custPrice" style="float: right;" type="text" value="0"></span>
        <div style="clear:both"></div>
    </div>
    <div>
        <!--Here's the Links to Checkout and Empty Cart-->
        <a class="simpleCart_empty" style="margin-left: 20px;" href="#">Empty Cart</a>
        <a style="float:right; margin-right: 40px;" href="#" onclick="shoppingCartCheckOut();">Checkout</a>
    </div>
    <div style="margin-top: 10px; border-bottom: 2px solid black; text-align: center; padding-bottom: -5px;"><a style="width:100%; text-align:center; font-size: 16px; color: #000;" href="#" onclick="$('#cartPartial').hide(); return false;">^</a></div>
</div>

<div style="display:none">
    @Html.BeginForm("View", "Cart", FormMethod.Post, new { id = "postForm" })
    {
    @Html.Hidden("commitOrder", "")
    <input type="submit" value="submit" />
    }
</div>
