<div class="row">
    <div class="col-md-3" style="background: greenyellow">
        <p>Category tree </p> 
        <p>Category tree </p>
        <p>Category tree </p>
        <p>Category tree </p>
        <p>Category tree </p>
        <p>Category tree </p>
    </div>
    <div class="col-md-9" style="background: pink">
        <p>Search result list</p>
        <p>Search result list</p>
        <p>Search result list</p>
        <p>Search result list</p>
        <p>Search result list</p>
        <p>Search result list</p>
    </div>
</div>
