@using Goexw.Models
@model List<MockPromotion>
@{
    ViewBag.Title = "Goexw";
}

<div class="container" style="border:0px;margin:0px 0px 10px 0px; width:960px" >

    @foreach (var promo in Model)
    {
        <div style="float:left;width:150px;height:150px;margin:10px;">
            <a href="/Product/Detail/@promo.Id">
                <img style="width:150px;height:150px;" alt="image" src="@promo.ImageUrl" />
                <br>@Html.DisplayText(@promo.Name)
            </a>
        </div>
    }
</div>