@using Goexw.Resources
<div class="table">
  <div class="row">
      <button class="btn col-lg-2 col-md-10" id="categoryButton">@Common.All_Categories &gt;</button>
      <span class="goexw_cat_label goexw_cat_label-tags">
          Category 1
          <a onclick="javascript:alert(0);" href="javascript:void(0);">
              <i class="goexw_cat_fa goexw_cat_fa-trash-o"></i>
          </a>
      </span>
      <span class="goexw_cat_label goexw_cat_label-tags">
          Category 2
          <a onclick="javascript:alert(0);" href="javascript:void(0);">
              <i class="goexw_cat_fa goexw_cat_fa-trash-o"></i>
          </a>
      </span>
    <div id="categoryWindow" style="display:none;">
        <div id="categoryTree"></div>
    </div>
  </div>
  <div class="row top_blank_5">
    <form class="form-inline col-md-10" role="form">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Keyword: </div>
                <input type="text" class="form-control" placeholder="products keyword"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Price: </div>
                <input type="text" class="form-control"/>
                <div class="input-group-addon">$</div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Shipping: </div>
                <select id="shipMethod" class="form-control">
                    <option>Air</option>
                    <option>Ship</option>
                    <option>Train</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <a class="btn btn-primary" href="@Url.Action("Index","Search")"><i class="glyphicon glyphicon-search"></i></a>
            </div>
        </div>
    </form>
  </div>
</div>

