@using Goexw.Resources

<div class="row">
    <button class="btn col-md-2 col-lg-2" id="categoryButton">@Common.All_Categories &gt;</button>
    <div id="categoryWindow" style="display:none;">
        <div id="categoryTree"></div>
    </div>

    <form class="form-inline col-md-10" role="form">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Keyword: </div>
                <input type="text" class="form-control" placeholder="products keyword"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Price: </div>
                <input type="text" class="form-control"/>
                <div class="input-group-addon">$</div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Shipping: </div>
                <select id="shipMethod" class="form-control">
                    <option>Air</option>
                    <option>Ship</option>
                    <option>Train</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <a class="btn btn-primary" href="@Url.Action("Index","Search")"><i class="glyphicon glyphicon-search"></i></a>
            </div>
        </div>
    </form>
</div>

